:root {
    --main: #000102;
    --el-color-primary: var(--main)
}

#my_busuanzi_container {
    color: var(--el-text-color-primary)
}

div .el-alert{
    padding: 4px;
    font-weight: 550;
}

.is-checked{
    font-weight: 600;
}