:root {
    --main: #000102;
    --el-color-primary: var(--main)
}

#my_busuanzi_container {
    color: var(--el-text-color-primary)
}

div .el-alert{
    padding: 4px;
    font-weight: 550;
}

.is-checked{
    font-weight: 600;
}

.el-input-number{
    max-width: 100px;
    margin-right: 0;
}

.el-button{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.el-divider{
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* margin-top: 10px;
    margin-bottom:18px; */
}